/* ========================= MAIN and common selectors ==================== */

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main__container {
  margin: 0 auto;
  min-width: 1200px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.main-content {
  max-width: 1160px;
  margin: 0 auto;
}

#arrow-up div {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  bottom: 30px;
  right: 40px;

  width: 70px;
  height: 70px;

  font-size: 22px;
  background-color: #1c2a33;
  border-radius: 50%;
  box-shadow: 0px 0px 5px 0px #fff;

  cursor: pointer;
}

#arrow-up {
  color: #bbb;
}

.arrow-up div:hover {
  background-color: #273b47;
}

#arrow-up:hover {
  color: #fff;
}

/* for another H3 in main content */
.h3 {
  display: block;

  margin: 0px auto 99px;

  text-align: center;

  color: #4e4e4e;
}

.h3::before,
.h3::after {
  content: " ";
  display: block;
  position: relative;

  margin-top: 25px;
  top: 60px;
  left: 46%;
  width: 78px;
  height: 1px;

  background-color: #18cfab;
}

.h3::after {
  top: 5px;
  left: 47.5%;
  background-color: #18cfab;
}

/* ========================== LOGO & NAV SCTN ========================== */

/* ---------head NAVBAR FIXED ------ */

.head {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  background-color: #5e5d5899;
}

.nav-content {
  display: flex;
  justify-content: space-between;
}

/* -------LOGO HAM------ */
.logo-box {
  display: flex;
  align-items: center;
  text-decoration: none;

  color: #ffffff;
}

.head-logo {
  display: flex;
  justify-content: center;
  align-self: center;
  height: 60px;
  width: 50px;

  background-color: #18cfab;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.head-logo::before {
  content: "H";
  position: relative;
  top: 15px;

  font-weight: bold;
  font-size: 31px;
}

.logo-text {
  margin-left: 5px;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-slctd {
  color: #18cfab;

  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0px;
}

/* -------NAV------- */

.head-menu {
  display: flex;
  justify-items: stretch;
}

.menu-item {
  box-sizing: border-box;

  height: 100px;
  margin-right: 21px;

  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.menu-link {
  display: flex;
  align-items: center;
  position: relative;

  color: #ffffff99;
  height: 100%;
  text-decoration: none;
}

.menu-link:hover {
  color: #18cfab;
}

.menu-item:hover {
  border-bottom: 2px solid #18cfab;
}

/* Search Tool with Lens Icon */

.fa-search {
  font-size: 19px;
}

/* ========================= headS & SLOGAN BOX ====================*/

.headers-section {
  font-style: normal;
  text-transform: uppercase;
  color: #ffffff;

  background-image: url(../img/Sections-background/header.jpg);
  background-attachment: fixed;
  background-color: #5e5d5859;
}

.heads-box-text {
  margin: 0 auto;
  text-align: center;
}

/* ---------------heads that will using later ------------- */

h1 {
  font-size: 78px;
  margin: 30px 0;
}

h2 {
  font-size: 35px;
}

.head-slctd {
  color: #18cfab;
}

h3 {
  text-transform: none;
  font-weight: 400;
  font-size: 34px;
  color: #d4d4d4;
}

.head-sec-lvl {
  padding-top: 401px;
}

/* ------------ head Section Buttons -------------*/

.head-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 121px;
  padding-bottom: 245px;
}

/* global css-selector */
.btn {
  width: 169px;
  height: 68px;

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  border-radius: 10px;
  box-shadow: 0 -5px 0 0 #ffffff;

  cursor: pointer;
}

.btn:focus {
  box-shadow: 0 -3px 0 0 #ffffff;
}

.btn-explore {
  background-color: #18cfab;
}

.btn-purchase {
  background-color: #00cbf6;
}

.btn-left {
  margin-right: 10px;
}

.btn-right {
  margin-left: 10px;
}

/* ============================= ABOUT BOXeS =========================== */
.about {
  width: 100%;
  margin-top: 5px;
  display: grid;
  grid-template-rows: 360px;
  grid-template-columns: repeat(4, 1fr);
}

.box-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

.box-about-dark {
  background-color: #1c2a33;
  color: #18cfab;
}

.box-about-green {
  background-color: #18cfab;
  color: #ffffff;
}

/* -----------ICONS-------------- */
.about-ico {
  margin-bottom: 48px;
}

.ico-green {
  margin-bottom: 59px;
}

/* =============================Services Ham============================== */

/* ----main containers ---------- */
.our-services {
  margin: 90px auto;
}

.services {
  display: block;
  height: 200px;
  margin: 25px auto 0px;
}

/* ------------SERVICES----------------- */

.svcs-img {
  width: 194px;

  margin-right: 15px;
  float: left;
}

.svcs-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 24px;
  color: #777777;
}

/* -----------List of Tabs SVCS ------------- */
.list-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.list-item {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 192px;
  height: 73px;

  font-size: 16px;
  font-weight: 400;
  color: #717171;

  background: #f8fcfe;
  border: 1px solid #edefef;
}

.list-item:hover.list-item {
  cursor: pointer;
}

/* make focus active by JS*/
.focus {
  position: relative;

  border: transparent;
  background-color: #18cfab;
  color: #ffffff;
}

.focus::after {
  content: " ";
  display: block;
  position: absolute;
  z-index: 0;

  width: 20px;
  height: 20px;
  top: 63px;
  right: 90px;

  background-color: #18cfab;
  transform: rotate(135deg);
}

.display-off {
  display: none;
}

/* ----------- BUY product ------------- */
.buy-producr-bg {
  margin: 0 auto;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/Sections-background/section-2.jpg);
  background-position: center center;
}

.buy-product {
  padding: 127px 0px;
  text-align: center;
}

.buy-product-h2 {
  margin-bottom: 15px;

  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;

  color: #18cfab;
}

.buy-product-p {
  margin-bottom: 65px;

  font-size: 16px;
  font-weight: 400;

  color: #d8d8d8;
}

.btn-buy {
  background-color: #18cfab;
}

/* --------------------- Filters --------------------- */

.works-bg {
  margin-bottom: 84px;
  width: 100%;
  background-color: #e9edef;
}

.works {
  margin: 0 auto;
}

.works-h3 {
  padding-top: 95px;
}

.filters {
  padding-bottom: 69px;

  display: flex;
  justify-content: center;
}

.filters-item {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 192px;
  height: 73px;

  font-size: 16px;
  font-weight: 400;
  color: #717171;

  border: 1px solid #dadada;

  cursor: pointer;
}

/* focus selec. for JS */

.filters-item-focus {
  cursor: default;

  color: #18cfab;
  background-color: #18cfaa09;
  border: 1px solid #18cfab;
}

.tab-all {
  width: 79px;
}

/*--------- filters-IMG box ------------ */

.filters-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.filters-box {
  width: 283px;
  height: 205px;

  position: relative;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

.filters-box:hover .box-img-hover {
  opacity: 1;

  border-top: 2px solid #18cfab;

  transition: all 0.3s linear;
}

.box-img-hover {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  opacity: 0;
  background-color: #e9edef;
}

.box-ico {
  display: flex;
  flex-direction: row;

  margin-bottom: 25px;
}

.box-hover-header {
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  line-height: 25px;

  color: #18cfab;
}

.name-filter {
  font-size: 12px;
  font-weight: 300;
  line-height: 25px;

  color: #8a8a8a;
}

/* -------------fonts ICO link&squer ----------- */
.box-img-hover .fas {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 14px;

  border-radius: 50%;
  border: 1px solid #18cfab;

  cursor: pointer;
}

.fa-link {
  margin-right: 5px;
  color: #18cfab;
}

.fa-square-full {
  color: #fff;
  background-color: #18cfab;
}

/* +++++++++++++++ Loader for new IMG when hit the btn +++++++++ */

.lds-ellipsis {
  display: none;
  position: relative;
  margin-left: 40px;
  width: 70px;
  height: 35px;
}
.lds-ellipsis div {
  position: absolute;
  top: 15px;

  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/* ----------------------------- Loader Btn ----------------------- */

.btn-import-work {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 50px;
  padding-bottom: 90px;
}

.btn-import-work btn:focus {
  transition: all 0.3s linear;
}

/* -------------- NEWS --------------- */
.news {
  margin-bottom: 107px;
}

.box-news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
}

.link-news {
  margin: 22px 18px;

  text-decoration: none;

  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 39px;

  color: #777777;
}

.link-news:hover .header-post-news,
.link-news:active .header-post-news {
  color: #18cfab;

  transition: all 0.3s linear;
}

.link-news:hover .news-date,
.link-news:active .news-date {
  background-color: #18cfab;

  transition: all 0.3s linear;
}

.news-item {
  position: relative;
}

.news-date {
  position: absolute;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 66px;
  height: 65px;

  font-size: 16px;
  line-height: 25px;

  color: #fff;
  background-color: #203e38;
}

.news-img {
  margin-bottom: 14px;
}

.news-text {
  margin-left: 15px;
}

.header-post-news {
  font-size: 18px;
  font-weight: 700;
  margin-left: 0px;
}

/* --------------FEEDBACKS--------------- */
.feadback-bg {
  width: 100%;

  background-image: url(../img/Sections-background/section-3.jpg);
}

.fead-header {
  margin: 0px auto 68px;
  padding-top: 100px;
  color: #fff;
}

.quot {
  position: relative;
  left: 49%;

  font-size: 44px;
  color: #18cfab;
}

.fead-text {
  margin: 35px auto;

  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;

  color: #bbbbbb;
}

.user {
  margin: 25px auto;

  display: flex;
  flex-direction: column;
}

.name-user {
  font-size: 16px;
  font-weight: 700;
  line-height: 27px;
  text-align: center;

  color: #18cfab;
}

.role-user {
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
  text-align: center;

  color: #bbbbbb;
}

.circuled-box-photo {
  margin: 0 auto;

  border-radius: 50%;
  border: 7px solid #1fdab533;

  overflow: hidden;
}

.circuled-photo-cont {
  object-fit: cover;
}

.fead-photo {
  width: 143px;
  height: 142px;
}

.main-fead-photo {
  display: block;
  width: 171px;
  height: 166px;
}

.fead-user {
  width: 58px;
  height: 58px;

  object-fit: cover;
  object-position: center;
}

/* ------------------ SlickSlide selectors --------------- */

.slick-track {
  padding: 20px;
  display: flex;
}

.dots-user .slick-list {
  overflow: hidden;
}

.dots-user {
  margin: 50px auto 0px;
  position: relative;
  padding-bottom: 99px;
}

.feadbacks-slider-box {
  min-width: 0;
}
/* --------chenge btn of slik to fonts -------*/

.slick-arrow {
  position: absolute;
  top: 18%;
  z-index: 10;

  width: 31px;
  height: 31px;
  padding: 0;
  color: #bbb;
  background-color: transparent;
  border: 1px solid #bbb;
}

.slick-arrow:hover {
  color: #fff;
  background-color: #18cfab;
  border: 1px solid #18cfab;
}

.slick-prev {
  left: -30px;
}

.slick-next {
  right: -30px;
}

.fa-chevron-left::before {
  display: block;
  margin: 9px;
}

.fa-chevron-right:before {
  display: block;
  margin: 9px;
}

.dots-user .slick-current.slick-active {
  transform: translateY(-15px);
}

/* ------------ Gallery of IMG ----------- */
.gallery-bg {
  width: 100%;
  background-color: #f8fcfe;
}

.header-gallery {
  padding-top: 109px;
  margin-bottom: 72px;
}

/* -------------Footer----------- */
.footer {
  padding: 45px 0px;

  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  text-align: center;

  color: #aeaeae;
  background-color: #22353f;
}

.footer-link {
  text-decoration: none;

  color: #18cfab;
}
